
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #e8ebf0;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
section .contactForm{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 40px;
    width: 98%;
    height: 70%;
    background: #9694a7;
    box-shadow: 1px 9px 20px -Spx rgba(0, 0, 0, 0.59);
    border-radius: 50px;

}
section .contactForm .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}
section .contactForm .form form{
    width: 100%;
}
section .contactForm .form .texto h2{
    color: #181524;
    font-size: 2em;
    margin-bottom: 10px;
}
section .contactForm .form .texto p{
    color: #201b2b;
    line-height: 1.5;
    margin-bottom: 20px;

}
section .contactForm .form form .inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
section .contactForm .form form .inputBox label{
    color: #382742;
    font-weight: 700;
}
section .contactForm .form form .inputBox input[type="text"],
section .contactForm .form form .inputBox input[type="email"],
section .contactForm .form form .inputBox textarea {
    border: none;
    background: #5d647a;
    padding: 10px;
    border-radius: 20px;
    color: #000000;
}
section .contactForm .form form .inputBox input[type="text"]:focus,
section .contactForm .form form .inputBox input[type="email"]:focus,
section .contactForm .form form .inputBox textarea:focus{
    outline: 2px solid #142b36;
}
section .contactForm .form form input[type="submit"]{
    background: #4d4763;
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    color: #201515;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 9px 20px -Spx rgba(0, 0, 0, 0.993);
    transition: 0.3s;

}
section .contactForm .form form input[type="submit"]:hover{
    background: #535a7c;

}
section .contactForm .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section .contactForm .info .imgBox{
    position: relative;
    width: 350px;
    height: 350px;

}
section .contactForm .info .imgBox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contactForm .info .textBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
section .contactForm .info .textBox .infoContact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
section .contactForm .info .textBox .infoContact ion-icon{
    font-size: 2em;
    margin-right: 10px;
    color: #4d4763;
}
section .contactForm .info .textBox .infoContact p{
    color: #4d4763;
}
section .contactForm .info .rrss a{
    padding: 20px;
    font-size: 2em;
    color: #4c4469;
    transition: 0.3s;

}
section .contactForm .info .rrss a:hover{
    color: #5d647a;

}
@media only screen and (max-width: 1368px){
    section .contactForm{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media only screen and (max-width: 768px){
    section .contactForm .info{
        height: 100px;
        padding: 20px;
    }
    section .contactForm .info .imgBox{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    section .contactForm .form{
        margin-left: 0px;
        width: 100%;

    }
    section .contactForm .info{
        margin-bottom: 30px;
        
    }

    section .contactForm .info .textBox{
        display: none;
    }

    section .contactForm .info{
        display: none;
    }
}

header .carrito li a{
    padding: 5px;
    font-size: 2em;
    
  }
  header .usuario li a{
    padding: 5px;
    font-size: 2em;
  }