 /*pie pagina*/
 .pie-pagina{
    background-color: rgb(179, 159, 192);
    padding: 80px 0;

  }
  .pie-pagina-2{
    display: flex;
    flex-wrap: wrap;

  }
  .pie-pagina-links{
    width: 25%;
    padding: 0 15px;

  }
  .pie-pagina-links h3{
    font-size: 20px;
    color: #100d13;
    margin-bottom: 50px;
    font-weight: 500;
    border-bottom: 2px solid rgb(60, 38, 95);
    padding-bottom: 10px;
    display: inline-block;
  }
  .pie-pagina-links ul li{
    list-style: none;
  }
  .pie-pagina-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
  }
  .pie-pagina-links ul li a:hover{
    color: rgb(231, 221, 230);
    padding-left: 6px;
  }
  .redes-sociales a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    color: #393f57;
    background-color: rgb(49, 35, 61);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #cdd0e4;
    transition: all .5s ease;
  }
  .redes-sociales a:hover{
    background-color: #a87fa5;
  }
  @media(max-width:480px){
    .pie-pagina-2{
      text-align: center;
    }
    
    .pie-pagina-links{
      width: 100%;
      margin-bottom: 30px;
    }
  }