#nosotros{
    padding-top: 0%;
   
    background-color: lightsteelblue;
}
#nosotros h1{
    padding-left: 6%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dimgray;
}
#nosotros p{
    padding-left: 6%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(56, 54, 54);
    font-size: 18px;
}
#nosotros img{
    top: 10%;
    width: 100%;
    max-width: 100%;
    margin: 10px;
    margin-top: 30px;
    

}