@import url(productos.css);
@import url(nosotros.css);
@import url(banner.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body{
    min-height: 100vh;
  }
  header .logo{
    color: #000000;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 3px;
	transition: 1.5s;
	text-decoration: none;
  }
  .section-main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(74,164,195,.8), rgba(0,0,0,0.1)), 
    url(img/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
  }
  
  .section-main h1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
  }
  
  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6s;
  }
  
  header.down{
    background: #ccd4e0;
    padding: 15px 80px;
  }
  
  header .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  header .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .menu ul{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  header .menu ul li{
      list-style: none;
  }
  
  header .menu a{
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 20px;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
  }
  
  header .menu a:hover{
    color: #000;
    background: #fff;
  }
  
  .section-two{
    padding: 20px;
  }
  
  header .btn{
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 991px){
    header, header.down{
        padding: 20px 40px;
    }
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: #cdd0e4;
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    header .menu ul{
        flex-direction: column;
      }
  
    header .menu.active{
      right: 0;
    }
  
    header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .menu a{
      display: block;
      font-size: 20px;
      margin: 10px;
      padding: 0 15px;
    }
  }
  
  @media (max-width: 600px){
    .section-main h1{
      font-size: 50px;
      line-height: 60px;
    }
  }

header .carrito li a{
  padding: 5px;
  font-size: 2em;
  
}
header .usuario li a{
  padding: 5px;
  font-size: 2em;
}

 section .nosotros{
  display: flex;
  justify-content: center;
  align-items: center;
}
section .nosotros .tgh{
  margin-right: 50px;

}
.section-two p{
  float: none;
  margin-left: auto;
  margin-right: auto;
  
}
.section-two{
  padding: 50px 15px;
}
section .migh{
  width: 350px;
  height: 250px;

}
.section-two h1{
  padding: 14px 8px;
}
#btn-mas{
  display: none;

}
.containerr{
  position: fixed;
  bottom: 40px;
  right: 40px;

}
.Contactanos a, .icon1{
  display: block;
  text-decoration: none;
  color: #131725;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 4);
  transition: all 500ms ease;


}
.Contactanos a:hover{
  background: #6c7186;
  color: #cecde2;
}
.Contactanos a{
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;

}
#btn-mas:checked~ .Contactanos a{
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.ctn{
  max-width: 1200px;
  margin: 0 auto;
}
.pie-pagina{
  background-color: #393f57;
  padding: 80px 0;

}
.pie-pagina-2{
  display: flex;
  flex-wrap: wrap;

}
.pie-pagina-links{
  width: 25%;
  padding: 0 15px;

}
.pie-pagina-links h3{
  font-size: 20px;
  color: #100d13;
  margin-bottom: 50px;
  font-weight: 500;
  border-bottom: 2px solid #897fa5;
  padding-bottom: 10px;
  display: inline-block;
}
.pie-pagina-links ul li{
  list-style: none;
}
.pie-pagina-links ul li a{
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}
.pie-pagina-links ul li a:hover{
  color: #80769c;
  padding-left: 6px;
}
.redes-sociales a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  color: #393f57;
  background-color: #1c2135;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #cdd0e4;
  transition: all .5s ease;
}
.redes-sociales a:hover{
  background-color: #80769c;
}
@media(max-width:991px){
  .pie-pagina-2{
    text-align: center;
  }

  .pie-pagina-links{
    width: 100%;
    margin-bottom: 30px;
  }
}
